<header>
    <div class="container">
        <a routerLink="/" class="logo">Food Mine!</a>
        <nav>
            <ul>


                <li *ngIf="!isAuth">
                    <a routerLink="/login" class="logo">Login</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard" class="logo">{{ user.name }}</a>
                    <div class="menu">
                        <a routerLink="/profile" class="logo">Profile</a>
                        <a routerLink="/orders" class="logo">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page" class="logo">
                        Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>